{% extends "base.html" %}
{% block content %}

<section>
    <figure class="img thumbnail col-md-4" >
        <img src="{{ url_for('image', file_name= game.url_image.split('/')[-1] if game.url_image else 'capa_padrao.jpg') }}">
        <figcaption>
            <ul>
                <li>Nome do Jogo: {{ game.name }}</li>
                <li>Console: {{game.console}}</li>
                <li>Categoria: {{game.category}}</li>
            </ul>
        </figcaption>
    </figure>
</section>

{% endblock %}
