{% extends "base.html" %}
{% block content %}
      <form class="formularioJogo" action="{{ url_for('update_game', id_game=game.id) }}" method="post" enctype="multipart/form-data" >
        <figure class="img thumbnail col-md-4 formularioImagem">
          <img class="img-fluid" src="{{ url_for('image', file_name=game.url_image.split('/')[-1] if game.url_image else 'capa_padrao.jpg') }}">
          <figcaption>
            <label class="fileContainer">
              Mudar Capa
              <input type="file" name="image" accept=".jpg">
            </label>
          </figcaption>
        </figure>

        <fieldset>
          {{ form.csrf_token() }}
          {{ form.csrf_token() }}
          <div class="form-group inputBox">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>

          <div class="form-group inputBox">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
          </div>

          <div class="form-group inputBox">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
          </div>

          <div class="form-group buttons">
            {{ form.save(class="btn btn-primary") }}
          </div>
        </fieldset>
      </form>
{% endblock %}